@use "../utils/mixin";
.futures {
  width: 500px;
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    justify-content: left;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px #000 solid;
    padding: 5px 0;
  }
  form {
    @include mixin.gird-col-3-no1(100px, 1fr, 100px);
    width: 100%;
    gap: 20px;
    padding: 1rem 0;
    input {
      text-align: center;
    }
    border-bottom: 1px #000 solid;
  }
  .cal-round {
    display: flex;
    justify-content: space-between;
  }

  .slider-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    .slider {
      width: 70%;
    }
  }

  .risk-reward-ratio {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-winrate {
    @include mixin.gird-col-3-no1(1.25rem, 1fr, 1.25rem);
    margin: 0 auto;
    width: 200px;
  }
  .card {
    @include mixin.gird-col-3-no1(6.25rem, 1fr, 6.25rem);
    margin: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    gap: 1rem;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .profit-Loss {
    display: flex;
    margin: 0.5rem 1rem;
    justify-content: space-between;
    .card {
      @include mixin.gird-col-3-no1(3rem, 1fr, 3rem);
      margin: 0rem;
      width: calc(140px + 1rem);
    }
  }
}

@media only screen and (max-width: 390px) {
  .futures {
    width: calc(100vw - 10px);
    // padding-left: 2rem;

    .profit-Loss {
      font-size: 10px;
      margin: 0.5rem 1.5rem;
      .card {
        @include mixin.gird-col-3-no1(3rem, 1fr, 3rem);
        margin: 0rem;
        width: calc(85px + 1rem);
      }
    }
    .card {
      @include mixin.gird-col-3-no1(6.25rem, 1fr, 6.25rem);
      margin: 1rem;
      padding: 0.5rem 2rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      // gap: 1rem;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
