@use "../utils" as color;
.heard {
  height: 50px;
  width: 100%;
  color: color.$color-2;
  background-color: color.$color-4;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  // position: relative;
  position: fixed;
  img {
    position: absolute;
    left: 1rem;
    display: none;
  }
  .active {
    display: block;
  }
}
